# Project Configuration
environment  = "dev"

# Training Configuration
training_instance_type    = "ml.t2.medium"
processing_instance_type  = "ml.t2.medium"
max_runtime_in_seconds    = 1800

# Inference Configuration
inference_instance_type   = "ml.t2.medium"
initial_instance_count   = 1

# Auto Scaling Configuration
min_capacity                    = 1
max_capacity                    = 2
target_invocations_per_instance = 100

# Data Capture Configuration
enable_data_capture      = true
data_capture_percentage  = 20
